<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  </head>

  <body>
  <h1>CORONA VIRUS TRACKER </h1>
  <p> This application lists current number cases reported across the globe </p>
  
  <div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}">Total cases </h1>
  <p class="lead">Total Cases Reported as of today</p>
  <hr class="my-4">
  </div>
   
    <table>
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases reported</th>
      </tr>
      <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}">Onions</td>
        <td th:text="${locationStat.country}">2.41</td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
      </tr>
    </table>
  
  
  </body>

</html>